/* //////////////////////////////////// */
/* Navbar  */
.nav__ele-container {
  padding: 0 3rem;
}

.header__items-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 6rem;
}

.header__list-container {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
  position: relative;
}

.btn--header {
  position: absolute;
  bottom: 10%;
  left: 0;
}

.header__list-ele a {
  font-size: 2rem;
}

.header__img-container {
  padding: 10rem 0 0 0;
}

.header__img {
  height: 25rem;
}

/* //////////////////////////////////// */
/* Main section header  */
.main__header-title {
  width: 40%;
  margin: 4rem auto;
  font-size: 2.2rem;
}

.main__box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 80%;
  row-gap: 0;
}

.main__header-description {
  width: 70%;
}

.article {
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* //////////////////////////////////// */
/* Revview article */
.review__container {
  height: 30rem;
}

.review__description {
  max-width: 70%;
}

/* //////////////////////////////////// */
/* Price article */
.price {
  width: 70%;
  display: grid;
  grid-template-areas:
    'grid-h grid-h grid-h'
    'grid-a grid-b grid-c';
  grid-template-columns: 1fr 1fr 1fr;
}

.price__header {
  width: 70%;
  margin: 0 auto;
}

.price__single-table {
  width: 105%;
}

.tablet--z-index {
  margin: 2rem 0;
  z-index: 15;
}

/* //////////////////////////////////// */
/* Apps section */
.app_h1 {
  width: 90%;
  text-align: start;
  font-size: 2.4rem;
}

/* //////////////////////////////////// */
/* Footer section */
.footer__container {
  display: grid;
  grid-template-areas:
    'logo services'
    'links downloads'
    'footer footer';
  grid-template-columns: 1fr 1fr;
}

.footer__description {
  width: 70%;
}
